/*///// CUSTOM CLASSES /////*/
.center {
    text-align: center;
}
.answers-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 155px;
    max-width: 370px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #adadad;
    padding: 15px;
}
.answer-item {
    margin: 5px;
    text-transform: capitalize;
    width: 150px;
    height: 30px;
    border: 1px solid #ffecb3;
    background-color: #fffde7;
    border-radius: 4px;
}
.margin-bot {
    margin-bottom: 15px;
}
.text-white {
    color: #fff;
}
.focusedTeam {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}
.playerSelected {
    font-weight: bold;
    color: #3c763d;
}
.player-thumb {
    background-color: #f5f5f5 !important;
    max-width: 350px;
    min-width: 115px;
}
a.player-thumb img {
    height: 100px;
}
.players-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.team-name {
    margin-bottom: 15px;
    margin-top: 5px;
}
.going {
    border: 3px solid #4caf50 !important;
    background-color: #e8f5e9 !important;
}

/*///// BOOTSTRAP OVERRIDES /////*/
.page-header {
    text-align: center;
}

ul.list-group {
    box-shadow: none;
}

li.list-group-item {
    border: none;
}

.thumbnail {
    /*min-height: 350px;*/
    max-width: 350px;
}

