<html lang="en" ng-app="APP">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/main.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-controller="mainCTRL" style="background:#fafafa;overflow:scroll;" ng-cloak>
    <div class="container center">
        <div class="row">
            <div class="col-lg-12 page-header">
                <h1><small>Welcome to the</small><br/>Culture Team Feud!</h1>
            </div>
        </div>

        <!-- THE PREPARATION -->
        <div class="row" ng-show="!hasStarted && !readyToStart">
            <div class="margin-bot" style="color:#37474f;">
                <!--<button type="button" class="btn btn-primary" ng-click="showTeams = !showTeams">
                    SELECT YOUR CULTURE TEAM
                    <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom': !showTeams, 'glyphicon-triangle-top': showTeams}"></span>
                </button>-->
                <h4>Before we begin, let's assemble your team!</h4>
                <h2 ng-show="!teamFocused">Which team are you?</h2>
                <h2 ng-show="teamFocused">Who will be playing?</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4"
                     ng-repeat="team in teams | orderBy: 'name'"
                     ng-hide="teamFocused && !team.hasFocus"
                     ng-class="{focusedTeam: team.hasFocus}">
                    <div class="thumbnail">
                        <div class="caption">
                            <div style="color:#546e7a;">
                                <h5 style="margin:0;">{{team.liaison}}'s</h5>
                                <h3 style="color:#263238;margin: 5px 0;"><strong>{{team.name | uppercase}}</strong></h3>
                                <h5 style="margin:0 0 10px;">Team</h5>
                            </div>


                            <div class="row margin-bot" ng-show="team.hasFocus">
                                <h4 class="text-primary">Select team members to play:</h4>

                                <div class="col-sm-12 center">
                                    <div class="input-group" style="margin:auto;color:#37474f;">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="$parent.allPeoplePlaying">
                                                <span>Everyone's here!</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6" ng-repeat="person in team.people">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="person.playing">
                                                <span ng-class="{playerSelected: person.playing}">{{person.name}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="flex-buttons">
                                    <a ng-click="focusTeam(team)" ng-show="!teamFocused" class="btn btn-default" role="button">Select</a>
                                    <a ng-click="unfocusTeam(team)" ng-show="teamFocused" class="btn btn-danger" role="button">Wrong team</a>
                                    <a ng-click="confirmTeam(team)" ng-show="teamFocused" ng-disabled="players.length==0" class="btn btn-success" role="button">Confirm</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="readyToStart">
            <!--<h3 class="team-name">TEAM {{teamPlaying.name | uppercase}}</h3>-->
            <div class="row players-row">
                <div ng-repeat="player in teamPlaying.players" ng-class="{'going-line': player.going}">
                    <a href="#" class="thumbnail player-thumb" ng-class="{going: player.going}">
                        <img ng-src="images/people/{{player.imgSrc}}" alt="...">
                        <div class="caption">
                            <p class="margin-none" style="color:#546e7a;"><strong>{{player.name}}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <!-- THE RULES -->
        <div ng-show="!hasStarted && readyToStart">

            <div class="row center">
                <div>
                    <h3>OK, here are the rules:</h3>
                    <ul class="list-group" style="font-size: 17px;">
                        <li class="list-group-item">Each question (15 total) will have hidden answers that you will need to guess.</li>
                        <li class="list-group-item"><strong class="text-danger">One person at a time,</strong> you will have <strong class="text-primary">15 seconds</strong> to think of and type in your answer.</li>
                        <li class="list-group-item">Earn points with correct answers, or get a STRIKE for each wrong answer.</li>
                        <li class="list-group-item"><strong>Two strikes</strong> means the question is over, and you move on to the next one.</li>
                        <li class="list-group-item"><strong>Mute your microphone</strong> when it's not your turn!</li>
                        <li class="list-group-item">The culture team with the most points at the end WINS!</li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" ng-click="start()">Let's Play!</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- THE GAME -->
        <div class="row" ng-show="hasStarted && !finished">
            <div class="col-sm-12 center">
                <span style="font-size:20px;color:#b0bec5">#{{loadingQuestion ? "..." : currentQuestion.index}}</span>

                <h4 class="margin-bot" style="font-size:20px;color:#546e7a">{{loadingQuestion ? "..." : currentQuestion.title}}</h4>

                <div class="gameboard">
                    <div class="row players-row" ng-show="hasStarted">
                        <div class="">
                            <div class="timer">
                                <h4>Time</h4>
                                <span id="time">00:15</span>
                            </div>
                        </div>

                        <div class="">
                            <div class="timer">
                                <h4>Strikes</h4>
                                <span>{{strikes}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="answers-container">
                        <p class="answer-item" ng-repeat="answer in currentQuestion.answers" ng-click="revealAnswer(answer)" ng-class="{showAnswer : !answer.reveal}">
                            <span ng-show="answer.reveal">{{answer.title}} {{answer.value}}</span>
                        </p>
                    </div>

                    <div class="messages">
                        <div class="alert alert-success" role="alert" ng-show="showSuccess">
                            <strong>Woo!</strong> Good answer! Points awarded.
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="showFail">
                            <strong>STRIKE!</strong> Sorry, that wasn't one of the answers.
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="!showSuccess && !showFail">
                            <strong ng-show="!loadingQuestion">Good luck, {{currentPlayerName}}! You're up!</strong>
                            <strong ng-show="loadingQuestion">Loading next question...</strong>
                        </div>
                    </div>

                    <div class="row players-row">
                        <div class="points margin-bot">
                            <h4>Points</h4>
                            <span>{{questionPoints}}</span>
                        </div>

                        <div class="points">
                            <h4>Total</h4>
                            <span>{{totalPoints}}</span>
                        </div>
                    </div>
                </div>

                <form ng-submit="submitAnswer(currentQuestion, finalAnswer)">
                    <div class="input-group input-group-lg margin-top" style="max-width:600px;">
                        <input type="text" class="form-control" placeholder="Enter answer..." ng-model="finalAnswer" ng-disabled="checkingAnswer" aria-describedby="sizing-addon1" autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit" ng-disabled="checkingAnswer">Final answer!</button>
                        </span>
                    </div>
                </form>

                <!--<button class="btn btn-default" type="button" ng-click="gameFinished()">Go to end ></button>-->
            </div>
        </div>

        <div ng-show="finished">
            <div class="" ng-show="!startBonus">
                <h2>Complete!</h2>
                <h4>You made it through all 15 questions!<br/>Here is your score:</h4>
                <strong style="margin-top:20px;font-size:28px;">{{totalPoints}}</strong>
                <br/>
                <h3>Let's try answering a few bonus questions and raise your score!</h3>
                <ul class="list-group" style="font-size: 17px;">
                    <li class="list-group-item">2 bonus questions!</li>
                    <li class="list-group-item"><strong class="text-danger">As a team,</strong> you will have <strong class="text-primary">15 seconds</strong> to choose an answer.</li>
                    <li class="list-group-item">Earn a mystery prize for each correct answer!</li>
                </ul>
                <button class="btn btn-primary" type="button" ng-click="showBonus()">Answer bonus questions</button>
            </div>

            <div ng-show="startBonus && !showFinalScreen">
                <div class="timer">
                    <h4>Time</h4>
                    <span id="time2">00:15</span>
                </div>

                <div ng-show="showBonus1 && !showBonus1Result">
                    <h4 class="margin-bot" style="font-size:20px;color:#546e7a">What is the most popular starting month for WealthCounsel employees?</h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-4" ng-repeat="month in months" ng-click="answerBonus(month)" style="cursor:pointer;">
                            <div class="thumbnail">
                                <div class="caption" style="border:3px solid #607d8b;">
                                    <p>{{month}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="showBonus1Result && !showBonus1 && !showBonus2">
                    <div ng-show="bonusRight && showBonus1Result">
                        <div ng-show="!bonusPrizeChosen">
                            <h2>November, correct!</h2>
                            <h4>Choose a prize:</h4>
                        </div>

                        <div class="row flex-buttons" ng-show="!bonusPrizeChosen">
                            <div class="col-sm-6 col-md-4">
                                <div class="bonus-item" ng-click="bonusBag()">
                                    <div class="caption">
                                        <h3>Mystery Bag of Points</h3>
                                        <p>Receive a random number of bonus points (between 25 and 50) to add to your score!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="bonus-item" ng-click="bonusBomb()">
                                    <div class="caption">
                                        <h3>Mystery Bomb</h3>
                                        <p>Bomb another culture team and take away a random number of points (between 1 and 100)!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="bonusPrizeChosen">
                            <div ng-show="bonusBagOpened">
                                <h3>Your mystery bag contained <strong>{{bonusBagResult}}</strong> points! Woo!</h3>
                                <button class="btn btn-primary" type="button" ng-click="showBonus()" style="margin-top:35px;">Bonus Question 2</button>
                            </div>

                            <div ng-show="bonusBombOpened">
                                <div ng-show="!targetChosen">
                                    <h3>Who do you want to bomb?</h3>
                                    <div class="col-sm-6 col-md-4" ng-repeat="team in teams | orderBy: 'name'" ng-click="applyBomb(team)" style="cursor:pointer;">
                                        <div class="thumbnail">
                                            <div class="caption" style="border:3px solid #607d8b;">
                                                <div style="color:#546e7a;">
                                                    <h5 style="margin:0;">{{team.liaison}}'s</h5>
                                                    <h3 style="color:#263238;margin: 5px 0;"><strong>{{team.name | uppercase}}</strong></h3>
                                                    <h5 style="margin:0 0 10px;">Team</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="targetChosen">
                                    <h3>You bombed the <strong>{{targetName | uppercase}}</strong> team for <strong>{{bonusBombResult}}</strong> points!<br/>GET SOME!</h3>
                                    <button class="btn btn-primary" type="button" ng-click="showBonus()" style="margin-top:35px;">Bonus Question 2</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-show="bonusWrong && showBonus1Result">
                        <h2>Aww... the correct answer was November!</h2>
                        <button class="btn btn-primary" type="button" ng-click="showBonus()" style="margin-top:35px;">Bonus Question 2</button>
                    </div>


                </div>

                <div ng-show="showBonus2 && !showBonus2Result">
                    <h4 class="margin-bot" style="font-size:20px;color:#546e7a">What month do most WealthCounsel employees have a birthday?</h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-4" ng-repeat="month in months" ng-click="answerBonus(month)" style="cursor:pointer;">
                            <div class="thumbnail">
                                <div class="caption" style="border:3px solid #607d8b;">
                                    <p>{{month}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="showBonus2Result && !showBonus2">
                    <div ng-show="bonusRight && showBonus2Result">
                        <div ng-show="!bonusPrizeChosen">
                            <h2>November, correct!</h2>
                            <h4>Choose a prize:</h4>
                        </div>

                        <div class="row flex-buttons" ng-show="!bonusPrizeChosen">
                            <div class="col-sm-6 col-md-4">
                                <div class="bonus-item" ng-click="bonusBag()">
                                    <div class="caption">
                                        <h3>Mystery Bag of Points</h3>
                                        <p>Receive a random number of bonus points (between 25 and 50) to add to your score!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="bonus-item" ng-click="bonusBomb()">
                                    <div class="caption">
                                        <h3>Mystery Bomb</h3>
                                        <p>Bomb another culture team and take away a random number of points (between 1 and 100)!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="bonusPrizeChosen">
                            <div ng-show="bonusBagOpened">
                                <h3>Your mystery bag contained <strong>{{bonusBagResult}}</strong> points! Woo!</h3>
                                <button class="btn btn-primary" type="button" ng-click="end()">Final Score</button>
                            </div>

                            <div ng-show="bonusBombOpened">
                                <div ng-show="!targetChosen">
                                    <h3>Who do you want to bomb?</h3>
                                    <div class="col-sm-6 col-md-4" ng-repeat="team in teams | orderBy: 'name'" ng-click="applyBomb(team)" style="cursor:pointer;">
                                        <div class="thumbnail">
                                            <div class="caption" style="border:3px solid #607d8b;">
                                                <div style="color:#546e7a;">
                                                    <h5 style="margin:0;">{{team.liaison}}'s</h5>
                                                    <h3 style="color:#263238;margin: 5px 0;"><strong>{{team.name | uppercase}}</strong></h3>
                                                    <h5 style="margin:0 0 10px;">Team</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="targetChosen">
                                    <h3>You bombed the <strong>{{targetName | uppercase}}</strong> team for <strong>{{bonusBombResult}}</strong> points!<br/>GET SOME!</h3>
                                    <button class="btn btn-primary" type="button" ng-click="end()">Final Score</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-show="bonusWrong && showBonus2Result">
                        <h2>Aww... the correct answer was November!</h2>
                        <button class="btn btn-primary" type="button" ng-click="end()">Final Score</button>
                    </div>


                </div>
            </div>

            <div ng-show="showFinalScreen">
                <h2>Congratulations, you finished!</h2>
                <h4>Your final score is:</h4>
                <strong style="margin-top:20px;font-size:28px;">{{totalPoints}}!</strong>
                <div ng-show="bombedTeams.length > 0">
                    <h4>Bomb results:</h4>
                    <h5 style="font-size:16px;" ng-repeat="bteam in bombedTeams">
                        The {{bteam.name | uppercase}} team: <span style="color:red;font-weight:bold;">{{bteam.value}} points!</span>
                    </h5>
                </div>
                <div style="margin-top:20px;">
                    <h3>Thanks for playing!</h3>
                    <p><strong>Please take a screenshot of this page and email it to Jenny Ellingson. Thanks!</strong></p>
                </div>

            </div>
        </div>

    </div>
</body>
</html>