<html lang="en" ng-app="APP">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/main.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-controller="mainCTRL" ng-cloak>
    <div class="container center">
        <div class="row">
            <div class="col-lg-12 page-header">
                <h1><small>Welcome to the</small><br/>Culture Team Feud!</h1>
            </div>
        </div>

        <!-- THE PREPARATION -->
        <div class="row" ng-show="!hasStarted && !readyToStart">
            <div class="margin-bot">
                <!--<button type="button" class="btn btn-primary" ng-click="showTeams = !showTeams">
                    SELECT YOUR CULTURE TEAM
                    <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom': !showTeams, 'glyphicon-triangle-top': showTeams}"></span>
                </button>-->
                <h4>Before we begin, let's assemble your team!</h4>
                <h2 ng-show="!teamFocused">Which team are you?</h2>
                <h2 ng-show="teamFocused">Who will be playing?</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4"
                     ng-repeat="team in teams | orderBy: 'name'"
                     ng-hide="teamFocused && !team.hasFocus"
                     ng-class="{focusedTeam: team.hasFocus}">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3><strong>{{team.name | uppercase}}</strong></h3>
                            <div class="row margin-bot" ng-show="team.hasFocus">
                                <h4 class="text-primary">Select team members to play:</h4>
                                <div class="col-lg-6" ng-repeat="person in team.people">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="person.playing">
                                                <span ng-class="{playerSelected: person.playing}">{{person.name}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p>
                                    <a ng-click="focusTeam(team)" ng-show="!teamFocused" class="btn btn-primary" role="button">Choose team</a>
                                    <a ng-click="unfocusTeam(team)" ng-show="teamFocused" class="btn btn-danger" role="button">Wrong team</a>
                                    <a ng-click="confirmTeam(team)" ng-show="teamFocused" ng-disabled="players.length==0" class="btn btn-success" role="button">Confirm</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="readyToStart">
            <h3 class="team-name">TEAM {{teamPlaying.name | uppercase}}</h3>
            <div class="row players-row">
                <div ng-repeat="player in teamPlaying.players">
                    <a href="#" class="thumbnail player-thumb" ng-class="{going: player.going}">
                        <img ng-src="images/people/{{player.imgSrc}}" alt="...">
                        <div class="caption">
                            <p><strong>{{player.name}}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <!-- THE RULES -->
        <div ng-show="!hasStarted && readyToStart">

            <div class="row center">
                <div>
                    <h4>RULES</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Each question (15 total) will have hidden answers that you will need to guess.</li>
                        <li class="list-group-item"><strong class="text-danger">One person at a time,</strong> you will have <strong class="text-primary">15 seconds</strong> to think of and type in your answer.</li>
                        <li class="list-group-item">Earn points with correct answers, or get a STRIKE for each wrong answer.</li>
                        <li class="list-group-item"><strong>Two strikes</strong> means the question is over, and you move on to the next one.</li>
                        <li class="list-group-item">The culture team with the most points at the end WINS!</li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" ng-click="start()">START!</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- THE GAME -->
        <div class="row" ng-show="hasStarted">
            <div class="col-lg-12 center">
                <span>#{{currentQuestion.index}}</span>
                <h4>{{currentQuestion.title}}</h4>

                <div class="answers-container">
                    <p class="answer-item" ng-repeat="answer in currentQuestion.answers">
                        <span ng-show="answer.reveal">{{answer.title}} {{answer.value}}</span>
                        <button type="button" class="btn btn-default" ng-click="revealAnswer(answer)" ng-show="!answer.reveal">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </p>
                </div>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
                    <button type="button" class="btn btn-primary" ng-click="nextQuestion()">Next</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>