<html lang="en" ng-app="APP">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/main.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-controller="mainCTRL" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 page-header">
                <h1><small>Welcome to the</small><br/>Culture Team Feud!</h1>
            </div>
        </div>

        <div class="row center">
            <h4>RULES</h4>
            <ul class="list-group">
                <li class="list-group-item">Each question (15 total) will have hidden answers that you will need to guess.</li>
                <li class="list-group-item"><strong class="text-danger">One person at a time,</strong> you will have <strong class="text-primary">15 seconds</strong> to think of and type in your answer.</li>
                <li class="list-group-item">Earn points with correct answers, or get a STRIKE for each wrong answer.</li>
                <li class="list-group-item"><strong>Two strikes</strong> means the question is over, and you move on to the next one.</li>
                <li class="list-group-item">The culture team with the most points at the end WINS!</li>
            </ul>
        </div>

        <!--<div class="row">
           <div class="col-lg-12 center">
               <div class="btn-group">
                   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Select your culture team <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu">
                       <li><a href="#">Black</a></li>
                       <li><a href="#">Blue</a></li>
                       <li><a href="#">Gold</a></li>
                       <li><a href="#">Green</a></li>
                       <li><a href="#">Paisley</a></li>
                       <li><a href="#">Platinum</a></li>
                       <li><a href="#">Psychedelic</a></li>
                       <li><a href="#">Purple</a></li>
                       <li><a href="#">Red</a></li>
                       <li><a href="#">Titanium</a></li>
                   </ul>
               </div>
           </div>
       </div>-->

        <div class="row center">
            <h4>SELECT YOUR CULTURE TEAM</h4>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Black</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in blackTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Blue</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in blueTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Gold</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in goldTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Green</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in greenTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Paisley</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in paisleyTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Platinum</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in platinumTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Psychedelic</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in psychedelicTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Purple</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in purpleTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Red</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in redTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Titanium</h3>

                            <div class="row margin-bot">
                                <div class="col-lg-6" ng-repeat="person in titaniumTeam">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">{{person.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END TEAMS -->

        <div class="row">
            <div class="col-lg-12 center">
                <div class="btn-group" role="group" aria-label="..." ng-show="!hasStarted">
                    <button type="button" class="btn btn-default" ng-click="start()">START!</button>
                </div>
            </div>
        </div>

        <div class="row" ng-show="hasStarted">
            <div class="col-lg-12 center">
                <span>#{{currentQuestion.index}}</span>
                <h4>{{currentQuestion.title}}</h4>

                <div class="answers-container">
                    <p class="answer-item" ng-repeat="answer in currentQuestion.answers">
                        <span ng-show="answer.reveal">{{answer.title}} {{answer.value}}</span>
                        <button type="button" class="btn btn-default" ng-click="revealAnswer(answer)" ng-show="!answer.reveal">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </p>
                </div>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
                    <button type="button" class="btn btn-primary" ng-click="nextQuestion()">Next</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>